.main-container {
  background-color: #F5F6F9;

  .img-cover {
    object-fit: cover;
    width: 100%;
    min-height: 100%;

    // height: 800px;

    // Temp
    // width: 100;
    // margin-right: -10rem;
    // float: right;
  }

  .over-img {
    background: linear-gradient(180deg, transparent 30%, rgba(99, 92, 168, 1) 100%);
    top: 0;
    right: 0;
    left: 0;
  }

  .type-label {
    cursor: pointer;

    &:has(input[type="checkbox"]:checked) {
      background-color: #F0F1F7;
    }
  }

  input[type="checkbox"] {
    &:not(:checked) {
      &+.type-logo .type-checked {
        display: none;
      }

      &+.type-logo .type-unchecked {
        display: inline-block;
      }
    }


    &:checked {
      &+.type-logo .type-checked {
        display: inline-block;
      }

      &+.type-logo .type-unchecked {
        display: none;
      }
    }
  }

  // input[type="checkbox"]+.type-unchecked {
  //   display: none;
  // }

  // .phone-label {
  //   max-height: 16px;
  // }
}