<div class="container-fluid position-relative">
  <div class="text-end text-body-tertiary position-absolute p-4" style="top: 0; right: 0; z-index: 1;">
    Having troubles? <a href="#" class="text-primary fw-bolder">Get Help</a>
  </div>
  <div class="row main-container">
    <div class="col-lg-4 p-0 position-relative">
      <img src="assets/img/lady.jpg" class="img-f luid img-cover" />
      <div class="over-img position-absolute w-100 h-100"></div>
      <div class="quotes">
        <div id="quotes-slider" class="carousel slide position-relative carousel-dark" data-bs-ride="carousel">
          <img src="assets/img/quote-mark.svg" class="qoute-mark" />
          <div class="carousel-indicators mb-0">
            <button type="button" data-bs-target="#quotes-slider" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#quotes-slider" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#quotes-slider" data-bs-slide-to="2"></button>
          </div>
          <div class="carousel-inner overflow-hidden p-4">
            <div class="carousel-item active">
              <div class="carousel-caption position-static p-0 text-start text-secondary">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry
                </p>
                <div class="h4 mb-0">Salma Mohamed</div>
                <div class="text-sm text-body-tertiary">Founder, Soliter Salon</div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-caption position-static p-0 text-start">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry
                </p>
                <div class="h4 mb-0">Salma Mohamed</div>
                <div class="text-sm">Founder, Soliter Salon</div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="carousel-caption position-static p-0 text-start">
                <p>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry
                </p>
                <div class="h4 mb-0">Salma Mohamed</div>
                <div class="text-sm">Founder, Soliter Salon</div>
              </div>
            </div>
          </div>
        </div>



      </div>
    </div>
    <div class="col-lg-8 p-lg-5 pe-lg-2 p-xl-5">
      <div class="p-0 py-5 px-3 pt-lg-5 ps-lg-5">
        <div class="row ms-xl-5 p-xl-5">
          <div class="col-12 mb-5">
            <div class="h2 text-secondary">Start your <span>business</span> now</div>
            <div class="text-secondary">
              Creating your company is just a few steps away,
              <br />
              Enter your email address to continue.
            </div>
          </div>
          <div class="form-inputs row pe-xl-5 me-xl-5">
            <div class="col-md-6">
              <div class="mb-3">
                <label for="first_name" class="form-label text-secondary">First Name</label>
                <input type="text" class="form-control form-control-xl border-danger" id="first_name"
                  placeholder="Enter your first name" />
                <div class="text-danger text-xs text-end mt-1">error</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="last_name" class="form-label text-secondary">Last Name</label>
                <input type="text" class="form-control form-control-xl" id="last_name"
                  placeholder="Enter your last name" />
                <div class="text-danger text-xs text-end mt-1">error</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="email" class="form-label text-secondary">Email Address</label>
                <input type="email" class="form-control form-control-xl" id="email" placeholder="Enter your email" />
                <div class="text-danger text-xs text-end mt-1">error</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="phone" class="form-label text-secondary">Phone Number</label>
                <div class="input-group">
                  <span class="input-group-text text-xs">
                    <img src="assets/img/sa.png" class="phone-label pe-2" />
                    +966
                  </span>
                  <input type="text" id="phone" class="form-control form-control-xl" placeholder="Enter your phone" />
                </div>
                <div class="text-danger text-xs text-end mt-1">error</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="mb-3">
                <label for="password" class="form-label text-secondary">Password</label>
                <div class="input-group position-relative">
                  <input type="password" class="form-control form-control-xl rounded pe-5" id="password"
                    placeholder="Enter your Password" />
                  <span class="show-password position-absolute end-0 me-3 top-50">
                    <i class="far fa-eye-slash"></i>
                  </span>
                </div>
                <div class="text-danger text-xs text-end mt-1">error</div>
              </div>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <div class="form-check mb-3">
                <input class="form-check-input" type="checkbox" id="agreement" checked />
                <label class="form-check-label" for="agreement">
                  Agree to the
                  <a href="#" class="link-info">Privacy Policy</a>
                  and
                  <a href="#" class="link-info">Terms & Conditions</a>
                </label>
              </div>
            </div>
            <div class="offset-md-3 col-md-3 offset-lg-2 col-lg-4 offset-xl-3 col-xl-3 text-end">
              <div class="d-grid" style="min-height: 100%;">
                <button class="btn btn-primary block mb-3">
                  <span class="float-start">NEXT</span>
                  <span class="ms-2 float-end">
                    <i class="fas fa-long-arrow-alt-right"></i>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>